<!DOCTYPE html>
<html>
<head>
  <title>QR Code Generator</title>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
  <h1>QR Code Generator</h1>

  <form action="/generate" method="POST">
    <label for="dataInput">Data:</label>
    <input type="text" id="dataInput" name="data" required>
    <button type="submit">Generate QR Code</button>
  </form>

</body>
</html>