body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  form input {
    margin-right: 10px;
  }
  
  a {
    margin-right: 10px;
  }